@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR&family=Roboto+Slab:wght@100&display=swap");

html,
body {
  height: 100%;
}

* {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ----------------------------------------------------------------------------------------추가 코드 */
.page {
  height: 100%;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}

#member {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#logoBox {
  display: flex;
  flex: 1 0 auto;
}

#logoImage {
  display: block;
  width: 150px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#memberContents {
  flex: 4 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: -10%;
  padding-left: 50px;
  position: relative;
  align-items: center;
}

#selfiBox {
  margin: 0 5%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 3px 3px 10px gray;
}

#slefi {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#memberInfor {
  width: 50%;
  margin-right: 5%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  height: 30%;
  overflow: hidden;
  border-radius: 20px;
}

#memberInfor > table {
  width: 20%;
  height: 95%;
}

#memberInfor > table > tbody > tr {
  margin: 20px 0;
}

#memberInfor > table > tbody > tr > td:first-child {
  font-weight: bold;
}

#makeUpMyMind {
  width: 80%;
  height: 95%;
  padding-left: 5%;
  border-left: 1px solid gray;
  display: flex;
  align-items: center;
}

#makeUpMyMind > ul > li {
  font-weight: bold;
}

#makeUpMyMind > ul > li > ul > li {
  font-weight: normal;
}

#makeUpMyMind > ul > li:last-child {
  margin-top: 5%;
}

#memberBtns > ul > li {
  margin: 10px 0;
  cursor: pointer;
}

#memberBtns > ul > li:hover {
  font-weight: bold;
  color: #96d59a;
}

.memberOn {
  font-weight: bold;
  color: #96d59a;
}

/* ----------------------------------------------------------------------------------------기존 코드 */

#wrap {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  height: 100%;

  /* 드래그 막는 코드 */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#comments {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tabMember {
  margin: 20px 0;
}

#tabMember > li {
  float: left;
  margin: 0px 20px;
  cursor: pointer;
}

#tabMember > li:hover {
  color: #96d59a;
  font-weight: bold;
}

#tabMember > li.on {
  color: #96d59a;
  font-weight: bold;
}

.memberContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: none;
  width: 1000px;
}

.on {
  display: inline-flex;
}

.memberContent > p {
  font-size: 14px;
}

#selectWriter {
  cursor: pointer;
  max-width: 300px;
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  appearance: none;
  text-align: center;
  border: 1px solid #96d59a;
}

#selectWriter:focus {
  outline: none !important;
  border: 2px solid #96d59a;
}

#selectWriter option {
  color: #96d59a;
  background-color: white;
  opacity: 0.3;
  font-size: 16px;
  padding-top: 20px;
}

#selectWriter option:hover {
  background-color: antiquewhite;
}

#saveComment {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 20px 0;
}

#comment {
  width: 100%;
  margin: 10px 0 10px 10px;
  padding: 10px 20px;
  background-color: #eeeeee;
  outline: none;
  border: none;
  border-radius: 50px 0 0 50px;
}

#comment:focus {
  outline: none !important;
  border: 2px solid #96d59a;
}

#saveBtn {
  width: 30%;
  cursor: pointer;
  margin: 10px 10px 10px 0;
  padding: 10px;
  border: none;
  border-radius: 0 50px 50px 0;
  background-color: #96d59a;
  color: white;
}

#commentsArea {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 330px;
  max-height: 330px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

/* ::-webkit-scrollbar : 스크롤바 전체
::-webkit-scrollbar-thumb : 스크롤 막대
::-webkit-scrollbar-track : 스크롤 막대 외부 */

#commentsArea::-webkit-scrollbar {
  width: 10px;
}

#commentsArea::-webkit-scrollbar-thumb {
  background-color: #96d59a;
  border-radius: 10px;
}
#commentsArea::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

#commentsArea > table {
  width: 100%;
}

#commentsArea > table > thead > tr > th:first-child {
  width: 10%;
}

#commentsArea > table > tbody > tr > td:first-child {
  text-align: center;
}

#commentsArea > table > tbody > tr > td:nth-child(2) {
  width: 80%;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#commentsArea > table > tbody > tr > td > button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  width: 5%;
  white-space: nowrap;
}

#commentsArea > table > tbody > tr > td {
  padding: 10px 10px;
}

#commentsArea > table > tbody > tr:hover {
  background-color: #eeeeee;
}
